*{
    padding: 0;
    margin: 0;
}
#navbar{

    background-color: #0f1111;
    height: 60px;
}
.amazon{
    font-size: 25px;
    color: orangered;

}
.account{
color: white;
margin-left: 200px;
}
.cart{
    color: white;
    margin-left: 200px;
}
.contact{
    color: white;
    margin-left: 200px;
}

.search{
    margin-left: 200px;
}
.click{
    color: white;
    background-color: #f08804;
}