div {
    border: 2px solid black;
    height: 133px;
    width: 80vh;
    margin: 3px;
    padding: 3px;
}

* {
    margin: 0;
    padding: 0;
}
.box1{
    background-color: aqua;
}

.box2{
    background-color: rgb(21, 255, 0);
}
.box3{
    background-color: rgb(255, 0, 212);
}
.box4{
    background-color: rgb(255, 123, 0);
}