.container {
    background-color: rgb(185, 0, 0);
    height: 62vh;
    width: 49vw;

}

.box {
    background-color: aquamarine;
    height: 6vh;
    width: 5vw;
   transition: all 3s ease-in-out 1ms;


}

.translate {
    transform: translate(200px, 100px);

    background-color: rgb(46, 0, 253);
}
